<!DOCTYPE html PUBLIC"-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<title>insert page</title></head>
<body>
    <div style="position: relative;background-color: white; width: 600px; height: 800px;">
        <div style="position: absolute; bottom: 5px; background-color: white">
        <h1>Hi! My name is Calypso.</h1>
        <h2>How can I Help you ?</h2>
        <form action="." method="POST">
            <input type="text" name="text" size="100" >
            <input type="submit" name="send" value="send" >
        </form>
        </div>
    </div>
</body>
</html>
